//------------------------------------------------------------------------------
// This file contains all the global custom sass variables
//------------------------------------------------------------------------------

// Global
$transition: 250ms;

// Colors
$light: #FFFFFF;
$dark: #000000;
