//------------------------------------------------------------------------------
// This file contains all the global custom sass variables
//------------------------------------------------------------------------------

// Global
$transition: 250ms;

// Colors
$primary: #4AA1BB;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);

$secondary-0: #EAEDF8;
$secondary-1: #CCD5E3;
$secondary-2: #AEB8CA;
$secondary-3: #909CB2;
$secondary-4: #7987A0;
$secondary-5: #63728E;
$secondary-6: #55647D;
$secondary-7: #455167;
$secondary-8: #353F51;
$secondary-9: #222B39;

$light: #FFFFFF;
$dark: #12151A;
