@use 'styles' as *;

//------------------------------------------------------------------------------

%line {
  box-sizing: border-box;
  border: 3px solid transparent;
  border-top-color: $primary;
  border-radius: 50%;
}

//------------------------------------------------------------------------------

.root {
  @extend %center;
  position: absolute;
  z-index: 100;
  @extend %fill;
  background-color: $light;
}

.loader {
  position: relative;
  @include square(90px);
  @extend %line;
  animation: rotate 2000ms linear infinite;

  &::before {
    content: '';
    position: absolute;
    @include square(74px);
    @extend %line;
    top: 5px;
    left: 5px;
    animation: rotate 3000ms linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    @include square(58px);
    @extend %line;
    top: 13px;
    left: 13px;
    animation: rotate 1500ms linear infinite;
  }
}

//------------------------------------------------------------------------------

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
